@import 'reset.css'
@import colors

// universals -------------------------------------------------
#main
  > div, nav
    padding: 1rem

// global nav -------------------------------------------------
nav
  background san-marino
  display flex
  font-family Dosis
  align-items center

  a
    color white
    text-decoration none

  h1
    font-size: 1.5rem
    flex 1

  ul
    margin: 0
    flex 1
    text-align right

    li
      display inline-block

      & + li
        margin-left 1rem

// admin blocks -------------------------------------------------
.admin
  &.block
    border-radius 5px

    & + .block
      margin-top 1rem

    &.create
      padding: .5rem
      background madison
      color humming-bird
      fill humming-bird
