@import 'reset.css'
@import colors

// universals -------------------------------------------------
#main
  > div * + *
    margin-top: 1em

  nav, div
    padding: .5rem

// global nav -------------------------------------------------
nav
  background san-marino
  display flex
  font-family Dosis
  align-items center

  a
    color white
    text-decoration none

  h1
    font-size: 1.5rem
    flex 1

  ul
    margin: 0
    flex 1
    text-align right

    li
      display inline-block

      & + li
        margin-left 1rem
