@import colors

.basic-theme
  .hero
    background-size cover
    min-height 400px
    font-size 1rem
    font-family 'Open Sans', sans-serif
    display flex
    align-items flex-end
    justify-content center

    > div
      max-width 1000px
      flex 0 1 auto
      text-align center
      padding 0 0 1rem

      > h1
        color white
        font-size 2em
        text-shadow 0 0 10px black

      > p
        color humming-bird
        font-weight 200
        text-transform uppercase
        font-size .9em
        margin 1rem 0
        text-shadow 0 0 10px black

      > a
        display inline-block
        border-radius 5px
        padding 1em 1.5em
        color white
        background-color orange
        text-decoration none
        font-weight 600
