@import 'reset.css'

slate = #323245
haze = #f6f6f6
dull-creame = #97969e
royal = #ad7fd5

topbar-height = 5rem
sidebar-width = 250px

body
  background white
  font-family Lato, sans-serif
  height 100%

*
  box-sizing border-box

#app
  display flex
  flex-wrap wrap

  > div
    display inherit
    flex-wrap wrap
    width 100%

  .admin-nav
    flex 0 1 sidebar-width
    order 3
    background slate
    color dull-creame

    > *
      padding 1rem

    li
      & + li
        margin-top 1rem

      &.active a
        color white

    a
      color dull-creame
      text-decoration none
      text-transform uppercase
      font-size .8rem
      font-weight 600

  .admin-user-anchor
    background royal url('/totoro.png') no-repeat
    background-position center 4px
    background-size 50%
    height topbar-height
    flex 0 1 sidebar-width
    order 1

  .admin-masthead
    flex "1 calc(100vw - %s)" % sidebar-width
    height topbar-height
    order 2
    background white
    padding 1rem
    display flex
    align-items center

    h1
      font-weight 600
      font-size 1.65rem

  .admin-content
    flex 1 auto
    order 4
    background haze
    padding 1rem
    width "calc(100vw - %s)" % sidebar-width
    min-height "calc(100vh - %s)" % topbar-height

    > ul
      .loading-message
        display none

      &.is-loading
        .loading-message
          display inline-block

// block config
.block
  box-shadow 0 1px 3px rgba(black, .25)
  border-radius 3px

  & + .block
    margin-top 1rem
